* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 320px) {
    .container {
        max-width: 290px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1170px;
    }
}

@import "variables";
@import "block/promo";
@import "block/service";
@import "block/subscribe";
@import "block/say";
@import "block/work";
@import "block/slider";
@import "block/team";
@import "block/footer";
@import "block/menu";