.promo {
	background: url('../img/bg_1.png') center (center / cover) no-repeat;
	padding: 50px 0 51px 0;
	@media (max-width:768px) {
		padding: 50px 0 51px 0;
	}
	@media (max-width:576px) {
		padding: 30px 0 51px 0;
	}
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__menu {
		display: block;
		position: relative;
		@include font ('Open Sans', 16, 400);
		padding-right: 45px;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: $mcolor;
			.promo-hamburger__lineThrough {
				background-color: $mcolor;
			}
		}
	}
	&__logo {
		text-decoration: none;
		@include font ('Open Sans', 20, 600);
		&-orange {
			color: $mcolor;
		}
		@media (max-width:576px) {
			@include font ('Open Sans', 18, 600);
		}
	}
	&-hamburger {
		position: absolute;
		top: 0px;
    	right: 0;
		width: 25px;
		&__lineThrough {
			width: 100%;
			height: 2px;
			margin: 7px auto 0;
			background-color: #fff;
			&:nth-child(1) {
				margin-top: 0;
			}
		}
	}
	&__title {
		margin-top: 180px;
		text-align: center;
		@include font ('Open Sans', 70, 800);
		line-height: 56px;
		&_orange {
			color: $mcolor;
		}
		@media (max-width:992px) {
			@include font ('Open Sans', 60, 800);
		}
		@media (max-width:768px) {
			margin-top: 150px;
			@include font ('Open Sans', 45, 800);
		}
		@media (max-width:576px) {
			margin-top: 90px;
			@include font ('Open Sans', 40, 800);
			line-height: 45px;
		}
	}
	&__text {
		margin-top: 35px;
		line-height: 43px;
		text-align: center;
		@include font ('Open Sans', 25, 400);
		@media (max-width:960px) {
			@include font ('Open Sans', 22, 400);
		}
		@media (max-width:768px) {
			@include font ('Open Sans', 18, 400);
			line-height: 33px;
		}
		@media (max-width:576px) {
			@include font ('Open Sans', 16, 400);
			line-height: 25px;
		}
	}
	&__wrapper {
		margin-top: 64px;
		display: flex;
		justify-content: center;
		@media (max-width:576px) {
			margin-top: 44px;
		}
	}
	&__link {
		display: flex;
		margin-right: 27px;
		align-items: center;
		justify-content: center;
		width: 210px;
		height: 50px;
		border-radius: 18px;
		border: solid 1px rgba(255, 255, 255, 0.2);
		@include font ('Open Sans', 16, 600);
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color .5s;
		&:nth-child(2) {
			margin-right: 0px;
		}
		&:hover {
			background-color: $mcolor;
		}
		@media (max-width:576px) {
			@include font ('Open Sans', 14, 400);
		}
	}
	&__arrow {
		display: block;
		margin: 196px auto 0;
		position: relative;
		width: 34px;
		height: 34px;
		border: 2px solid #fff;
		border-radius: 100%;
		animation: updown 1s infinite;
		@media (max-width:768px) {
			margin-top: 120px;
		}
		@media (max-width:576px) {
			margin-top: 70px;
		}
		&-inner {
			height: 9px;
			width: 16px;
			position: absolute;
			overflow: hidden;
			top: 0px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			&:before, &:after {
				content: "";
				position: absolute;
				width: 8px;
				height: 4px;
				background-color: #fff;
			}
			&:before {
				transform-origin: 0% 100%;
				transform: skewY(35deg);
			}
			&:after {
				transform-origin: 100% 100%;
				transform: skewY(-35deg);
				right: 0;
			}
		}
	}
}

@keyframes updown {
	0% {
		transform: translateY(-20%);
	}
	50% {
		transform: translateY(20%);
	}
	100% {
		transform: translateY(-20%);
	}
}