.services {
    padding: 101px 0 112px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        @media (max-width: 576px) {
            justify-content: center;
        }
        @media (max-width: 768px) {
            justify-content: center;
        }
    }
    &__item {
        @media (max-width: 768px) {
            margin: 40px 60px 0 0;
            &:nth-child(even) {
                margin-right: 0px;
            }
            &:nth-child(1) {
                margin-top: 0;
            }
            &:nth-child(2) {
                margin-top: 0;
            }
        }
        @media (max-width: 575px) {
            margin: 40px 0 0 0;
            &:nth-child(2) {
                margin-top: 40px;
            }
        }
    }
    &__round {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 151px;
        height: 151px;
        border-radius: 100%;
        border: solid 1px rgba(59, 67, 76, 0.3);
    }
    &__img {
        max-width: 60px;
        min-height: 60px;
    }
    &__title {
        margin-top: 30px;
        @include font ('Open Sans', 16, 600, #3b434c);
        text-transform: uppercase;
        text-align: center;
    }
    &__descr {
        margin-top: 29px;
        width: 158px;
        height: 66px;
        @include font ('Open Sans', 14, 300, #3b434c);
        line-height: 23px;
        text-align: center;
        overflow: hidden;
    }
}