.slider {
    padding: 102px 0;
    background: url('../img/bg_3.png');
    @media (max-width: 768px) {
        padding: 75px 0;
    }
    @media (max-width: 576px) {
        padding: 40px 0;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        @media (max-width: 991px) {
            margin: 0 auto;
            width: 610px;
        }
        @media (max-width: 768px) {
            margin: 25px auto 0;
            width: 400px;
        }
        @media (max-width: 576px) {
            width: 240px;
        }
    }
    &__item {
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    &__img {
        margin: 0 auto;
        max-width: 120px;
        max-height: 120px;
        border-radius: 100%;
        @media (max-width: 991px) {
            max-width: 100px;
            max-height: 100px;
        }
        @media (max-width: 768px) {
            max-width: 85px;
            max-height: 85px;
        }
        @media (max-width: 576px) {
            max-width: 70px;
            max-height: 70px;
        }
    }
    &__avatar {
        width: 100%;
        height: 100%;
    }
    &__descr {
        margin: 50px auto 0;
        max-width: 797px;
        max-height: 65px;
        @include font ('Open Sans', 25, 600);
        line-height: 40px;
        font-style: italic;
        @media (max-width: 1200px) {
            margin: 36px auto 0;
            max-width: 620px;
            min-height: 65px;
            font-size: 18px;
            line-height: 36px;
        }
        @media (max-width: 991px) {
            margin-top: 30px;
            font-size: 15px;
            line-height: 27px;
        }
        @media (max-width: 768px) {
            margin-top: 20px;
            font-size: 13px;
            line-height: 25px;
            max-width: 385px;
        }
        @media (max-width: 576px) {
            max-width: 230px;
            min-height: 75px;
            font-size: 11px;
        }
    }
    &__author {
        margin-top: 43px;
        @include font ('Open Sans', 18, 600);
        @media (max-width: 1200px) {
            margin-top: 25px;
        }
        @media (max-width: 991px) {
            margin-top: 12px;
            font-size: 17px;
        }
        @media (max-width: 768px) {
            margin-top: 5px;
            font-size: 15px;
        }
        @media (max-width: 576px) {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    .slick-prev, .slick-next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        @media (min-width: 992px) {
            left: 10px;
        }
        @media (max-width: 576px) {
            left: -37px
        }
        img {
            width: 21px;
            height: 40px;
            @media (max-width: 991px) {
                width: 17px;
                height: 30px;
            }
            @media (max-width: 576px) {
                width: 13px;
                height: 29px;
            }
        }
    }
    .slick-next  {
        right: -66px;
        left: auto;
        @media (min-width: 992px) {
            right: 10px;
        }
        @media (max-width: 576px) {
            right: -37px
        }
        
    }
}

