.subscribe {
    padding: 100px 0;
    background: url('../img/bg_2.png') center (center / cover) no-repeat;
    &-form {
        display: flex;
        justify-content: center;
        height: 50px;
        @media (max-width: 567px) {
            flex-flow: wrap;
        }
        &__field {
            margin-right: 30px;
            padding: 20px 19px;
            width: 562px;
            border-radius: 10px;
            border: none;
            @include font ('Open Sans', 16, 300, #3b434c);
            &::placeholder {
                @include font ('Open Sans', 16, 300, #3b434c);
                transition: text-indent .5s;
            }
            &:focus::placeholder {
                text-indent: 700px;
            }
            &:active, &:focus {
                outline: 0;
                outline-offset: 0;
            }
            @media (max-width: 567px) {
                padding: 12px 10px;
                flex-flow: wrap;
                width: 260px;
                margin-right: 0;
                font-size: 14px;
                &::placeholder {
                    font-size: 14px;
                }
            }
        }
        &__btn {
            width: 269px;
            vertical-align: middle;
            border-radius: 10px;
            border: none;
            background-color: $mcolor;
            @include font ('Open Sans', 16, 600);
            cursor: pointer;
            &:hover {
                background-color: transparent;
                border: solid 1px rgba(255,255,255,0.2);
            }
            &:active, &:focus {
                outline: 0;
                outline-offset: 0;
            }
            @media (max-width: 567px) {
                height: 30px;
                margin-top: 20px;
                width: 240px;
            }
        } 
    }
}